<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heima.wemedia.mapper.WmNewsMapper">

    <resultMap id="resultMap" type="com.heima.model.wemedia.vos.WmNewsVO">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="type" property="type"/>
        <result column="channel_id" property="channelId"/>
        <result column="labels" property="labels"/>
        <result column="created_time" property="createdTime"/>
        <result column="submited_time" property="submitedTime"/>
        <result column="status" property="status"/>
        <result column="publish_time" property="publishTime"/>
        <result column="reason" property="reason"/>
        <result column="article_id" property="articleId"/>
        <result column="images" property="images"/>
        <result column="enable" property="enable"/>
        <result column="name" property="authorName"/>
    </resultMap>
    <select id="getAllNeedHumanAuthorize" resultMap="resultMap" resultType="com.heima.model.wemedia.vos.WmNewsVO">

        select wn.* , wu.name from wm_news wn left join wm_user wu on wn.user_id = wu.id where wn.status = 3
    </select>

</mapper>